[Desktop Entry]


# ************************
# Editable configurations
# ************************
Name=obd_logger
Icon=gnome-monitor
Terminal=true

# ************************
# Boilerplate configurations
# ************************
Type=Application
Exec=bash -c '"/home/pi/Applications/obd_logger/obd_logger"'
